<!-- <div class='container'>

	<div ng-repeat="pin in pins">
		<div id='{{pin.boardid}}' class='pin'>
			<span class='col-md-4'><img src='{{pin.img}}'></span>
			<span class='col-md-4'>{{pin.name}}</span>
			<span class='col-md-4'>{{pin.description}}</span>
		</div>
	</div>

</div> -->




<h2>{{greeting}}</h2>

<!-- ng-repeat='pin in pins' -->



<div ng-repeat="pin in pins">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-7" ><a ng-href="#/items/{{item.id}}">{{pin.name}}</a></div>
      <div class="col-xs-2">{{pin.img}}</div>
		<a ng-href="#/item/new"><button id="add"  class="btn btn-default">Add</button></a>
    </div>
  </div>
</div>